body {
    background-color: #001F54;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.card {
    background-color: #FEFCFB;
    width: 400px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.name {
    color: black;
    margin-bottom: 10px;
}

.paragraph {
    color: #034078;
    margin-bottom: 20px;
    font-size: 16px;
}

.btn {
    color: white;
    background-color: #001F54;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 8px;
    transition: 0.5s;

}

.btn:hover {
    background-color: #1282A2;
}