body {
    background-color: #0d1b2a;
    font-family: Arial, sans-serif;
    display: flex;  /* Centraliza o card na tela */
    justify-content: center;
    align-items: center;
    height: 100vh;/* ocupa 100% da tela */
}

.card {
    background-color: #778da9;
    width: 400px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    text-align: center;
}

.photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #1b263b;
    margin-bottom: 15px;

}

.name {
    color: #0d1b2a;
    margin-bottom: 10px;
}

.descricao {
    color: #034078;
    font-size: 14px;
    margin-bottom: 20px;

}

.btn {
    background-color: #1b263b;
    color: #e0e1dd;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #415a77;
}